/smartsharkeval/input/
/test/res/exampleclass/DummyProject/.idea/
/test/res/exampleclass/DummyProject/target/
/codebertnt/logs/
/codebertnt/pre-trained/
/codebertnt/p_log.out
/test/res/output/
/env/
/.idea/

refactorings_output.csv
tasks.list
pre-trained/

logs/
slurm_job_*.out
slurm_job_*.err
p_log.out
error/

codebert-nt.sif

